html,
body {
   padding: 0;
   margin: 0;
   height: 1000px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   border: none;
   background-color: palegoldenrod;
   background-image: url('https://cff2.earth.com/uploads/2017/09/18122950/Scientists-successfully-transfer-light-waves-into-sound-waves.jpg  ');
}

.div1 {
   width: 100%;
   height: 50px;
   padding-left: 30px;
   background-color: darkred;
   padding-top: 20px;
   border: none;
   font-weight: bold;
   z-index: 2;
   background-color: #000000dc;
   position: fixed;
   opacity: 0.9;
}

.span1 {
   display: inline;
   color: rgb(255, 255, 255);

   padding-left: 20px;
}

.span1 a {
   color: rgb(255, 255, 255);
   text-decoration: none;
}

.span1:hover {
   opacity: 0.5;
   text-shadow: 5px 5px 10px black;
}

.transbox {
   background-color: black;
   text-align: center;
   margin: 10%;
   opacity: 0.6;
   position: absolute;
   padding-top: 50px;
   top: 20px;
   left: 0;
   width: 80%;
   border: 1px solid black;
   border-radius: 25px;
   position: fixed;
   z-index: 100;
}

.transbox:hover {
   opacity: 0.8;
}

#imageInput {
   padding-left: 1px;
   padding-bottom: 50px;
   height: 10px;
   width: 100px;

}

#previewImage {
   width: 20%;
   height: 10%;
   padding-left: 40%;
   padding-bottom: 50px;
   z-index: 100;
}

#end {
   background-color: black;
   color: rgb(255, 255, 255);
   opacity: 0.5;
   position: absolute;
   left: 0;
   bottom: -270px;
   width: 100%;
   font-weight: bold;

}

#h {
   padding-left: 25%;
   font-weight: bold;
}

#p {
   padding-left: 20px;
   font-weight: bold;
}

#headed {
   color: yellow;
   font-weight: bold;
}