<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Audio Classification</title>
    <style>
        /* CSS to adjust font size */
        #end h4 {
            font-size: 30px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../static/Main.css">
</head>

<body>
    <div>
        <div class="div1">
            <span class="span1">
                <a href="#top">HOME</a>
            </span>
            <span class="span1">
                <a href="#end"> Project_Student </a>
            </span>
        </div>
        <div class="transbox">
            <h2 id="previewImage" alt="Preview" style="display:none"> </h2>
            <form id="imageForm" enctype="multipart/form-data">
                <input type="file" id="audioInput" accept="audio/*" onchange="handleImageSelection(event)">
                <button type="button" onclick="processAudio()">Process Image</button>
                <h1 style="color:rgb(255, 255, 255)" id="result"></h1>
            </form>
        </div>
    </div>
    <footer id="end">
        <h4 id="h"> Animal Sound Recognition for Crop and Farm Surveillance </h4>
        <p id="p"> Sidharth Saji </p>
        <p id="p"> 122201026 </p>

    </footer>
    <script>
        function handleImageSelection(event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function () {
                const previewImage = document.getElementById('previewImage');
                previewImage.textContent = "Audio has been selected";
                previewImage.style.display = 'block';
                previewImage.style.color = 'white';
                previewImage.style.fontSize = '30px';
            }

            if (file) {
                reader.readAsDataURL(file);
            }
        }

        function processAudio() {
            const audioFile = document.getElementById('audioInput').files[0];
            const resultText = document.getElementById('result');

            let formData = new FormData();
            formData.append('audio', audioFile);

            fetch('/process_audio', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(result => {
                    resultText.textContent = Object.entries(result)[0][1];
                })
                .catch(error => {
                    resultText.textContent = 'Error: ' + error;
                });
        }

    </script>
</body>

</html>